doctype html
html(lang='en')
  head
    title Admiral
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    script(src='https://use.fontawesome.com/1099bc21bb.js')
    link(href='/stylesheets/home1.css', rel='stylesheet')
    link(href='/stylesheets/infopage.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(src='/javascripts/ng-infinite-scroll.min.js')
  body(bgcolor="#7FB3D5")

    main
      div
        #myModal.modal
          .modal-content
            span.closeModal ×
            p Notify me by email about this pet.
            form
              input.modalEmail(type='text')
              input(type='submit')
            button Submit
            .positioner
        .menu
          .menu_title
            | Sort By
          .menu_item
            input#sneaky_toggle.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle')
                i.menu_icon.fa.fa-globe(title='Distance')
          .menu_item
            input#sneaky_toggle2.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle2')
                i.menu_icon.fa.fa-paw(title='Size')
          .menu_item
            input#sneaky_toggle3.toggle(name='menu_group', type='radio')
            .expander
              label(for='sneaky_toggle3')
                i.menu_icon.fa.fa-usd(title='Price')
        .dropdown
          .item.collapse
            img.infoImg(src='https://cdn4.iconfinder.com/data/icons/online-menu/64/attencion_exclamation_mark_circle_danger-128.png', align='left')
            | Urgent: This pet will be put down soon.
          .item.collapse
            img.infoImg(src='https://cdn0.iconfinder.com/data/icons/layout-and-location/24/Untitled-2-02-128.png', align='left')
            | Shelter: This pet is from a shelter.
          .item.collapse
            img.infoImg(src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png', align='left')
            | Person: This pet is from an owner.
          .item.collapse What are the icons?
        input#navcheck(type='checkbox', role='button', title='menu')
        label(for='navcheck', aria-hidden='true', title='menu')
          span.burger
            span.bar
              span.visuallyhidden Menu

      #fidoPicture
          #image
            img(src='media/cat.png')
          #rectangle
          .title
            h2 #{params.title}
          .p
            h2 Basic Characteristics
            p #{params.sex}
            p Age: #{params.age}
            p Size: #{params.size}
            p Size Potential: #{params.sizePotential}
            p House-Trained: #{params.housetrained}
            p Bark: #{params.bark}
            p Environment: #{params.environment}

            h2 Current Status
            p Adoption Status: #{params.status}
            p Available Date: #{params.availableDate}
            p Adoption Fee: #{params.adoptionFee}
            p Urgency Date: #{params.killDate}
            p Urgency Reason: #{params.killReason}
            p Location: #{params.location}
            p Foster Need: #{params.fosterNeed}
            p Adoption Pending: #{params.adoptionPending}
            p Sponsorship: #{params.sponsor}

            h2 Physical Description
            p Breed: #{params.breed}
            p Sheds: #{params.sheds}
            p Coat Length: #{params.coatLength}
            p Color: #{params.color}
            p Declawed: #{params.declawed}
            p Description: #{params.description}
            p Energy: #{params.energy}
            p Exercise: #{params.exercise}
            p Fence: #{params.fence}
            p Activity Level: #{params.activityLevel}
            p Grooming Needs: #{params.grooming}

            h2 Further Descriptions
            p Place Found: #{params.areaFound}
            p Good with Children: #{params.children}
            p Good with Cats: #{params.cats}
            p Good with Dogs: #{params.dogs}


        nav#menu
          a(href='http://localhost:3000') Home Screen
          button(onclick='clearList()')  Clear List
          button(onclick='repopulateList()')  Repopulate
          a(href='#') Pet Stream
          a(href='#') My Liked Pets
          a(href='#') Take the Survey
          a(href='#') My Profile
          a(href='#') Logout
        #titleBar
          form.searchform
            input.search(type='text', ng-model="query")
            .after
            input(type='submit')
          #profile Homebound
        //- #navbar
        //-   .navitem.navitem1 Pet Stream
        //-   .navitem.navitem2 Your Liked Pets
        //-   .navitem.navitem1 Adoption Process
        //-   .navitem.navitem2 Take the Quiz
        //-   .navitem.navitem1 Settings
        p#streamTitle Pet Stream
        #feedHolder
          #article-list.article-list
        ul#article-list-pagination.article-list__pagination.article-list__pagination--inactive
    script(src='/javascripts/profile.js')
    script(src='/javascripts/home.js')

    .formFormat
      form(action='https://formspree.io/gillichu@berkeley.com', method='POST')
              | First Name:
              br
              |   
              input(type='text', name='firstname')
              br
              |   Last Name:  
              input(type='text', name='lastname')
              br
              |   Email:
              br
              |  
              input(type='email', name='_replyto') 
              br
              |   Text:
              br
              |  
              input(type='text', name='message')
              br
              br
              |   
              input(type='submit', value='Submit')
